.PokemonCard{
  width: 50vh;

}
.PokemonColumnText{
  text-align: center;
}
.PokemonTypes{
  border-radius: 25px;
  background-color: #616161;
  padding: 5px;
  margin: 5px;
}
.audio-player{
  border-radius: 20px;
}
.pokemonID{
  text-align: center;
}
